<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>

        <File name="sortingResult" fileName="result.log" bufferedIO="false">
            <PatternLayout pattern="%d %m%n"/>
        </File>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="sortingResult"/>
        </Root>
    </Loggers>
</Configuration>